* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   background: rgb(255, 255, 255);
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   color: #000;
   min-height: 100vh;
}

.container {
   max-width: 1024px;
   padding: 0 5px;
}

.back-btn {
   font-size: 30px;
   margin: 5px 0;
}
/*=====================================================================================*/
.navbar {
   -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33); 
   box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33);
   color: rgb(127, 127, 127);
}

.navbar__container {
   margin: 0 auto;
   padding: 5px;
   max-width: 1100px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.navbar__avatar {
   background: #000;
   width: 40px;
   height: 40px;
   font-size: 24px;
   line-height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   border-radius: 50px;
}

.navbar__list {
   display: flex;
   align-items: center;
   gap: 10px;
}

.navbar__list-item {
   padding: 1px 5px;
   border-radius: 20px;
   transition: all .1s linear;
   display: flex;
   gap: 2px;
   align-items: center;
}

.navbar__list-item:hover {
   color: rgb(0, 0, 0);
}

.authblock__container {
   color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
}

.authblock {
   display: flex;
   align-items: center;
   gap: 2px;
}
/*=====================================================================================*/
.main {
   margin-top: 20px;
   display: flex;
   gap: 20px;
   justify-content: center;
}

.posts__container {
   -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33); 
   box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33);
   border-radius: 5px;
   overflow: hidden;
   max-width: 470px;
}

.post {
   margin-bottom: 20px;
}

.post-container {
   padding: 0 5px;
}

.post__info {
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   line-height: 18px;
   opacity: 0.8;
}

.post__title {
   font-size: 20px;
   line-height: 26px;
   font-weight: 600;
}

.post__calc {
   display: flex;
   gap: 20px;
   opacity: 0.8;
   margin-top: 10px;
}

.post__calc-item {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 16px;
   line-height: 16px;
}
/*=====================================================================================*/
.postpage-container {
   display: flex;
   justify-content: space-between;
}

.postpage {
   -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33); 
   box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33);
   width: 65%;
}

.postpage__info {
   padding: 0 5px 5px;
}

.postpage__title {
   font-size: 24px;
   line-height: 30px;
   font-weight: 600;
}

.postpage__config {
   display: flex;
   justify-content: space-between;
   font-size: 16px;
   line-height: 16px;
   margin-top: 10px;
}

.postpage__config-item {
   display: flex;
   gap: 16px;
}

.postpage-comments {
   -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33); 
   box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.33);
   width: 30%;
   padding: 16px;
}

.postpage-comments__form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 5px;
}

.postpage-comments__form-input {
   width: 88%;
   padding: 5px;
   border: 2px solid gray;
   border-radius: 10px;
}

.postpage-comments__form-btn {
   font-size: 30px;
}

.postpage-comments__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.postpage-comments__avatar {
   width: 30px !important;
   height: 30px !important;
   font-size: 20px;
   line-height: 20px;
   font-weight: 600;
   border: 2px solid gray;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.postpage-comments__text {
   overflow: hidden;
   width: 88%;
   font-size: 12px;
}



